.footer {
  padding: 50px 0;
  background-color: var(--dark);
  color: var(--wh);

  &__inner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
  }

  &__item {
    // text-align: center;
  }

  &__logo {
    font-size: 22px;
    margin-bottom: 20px;
  }

  &__item-sublogo {}

  &__item-text {
    // text-align: left;
    margin-bottom: 10px;
  }


  &__item-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    opacity: 0.8;
  }

  &__list {
    text-align: center;

    li {
      display: inline-block;
    }

    li~li {
      margin-left: 20px;
    }
  }

  &__info {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__item-tel {
    font-size: 26px;
    // line-height: 36px;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
    display: block;
  }

  &__btn {
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
  }





  &__copy-text {
    text-align: center;
    padding-top: 20px;
    font-size: 10px;
  }

  &__social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    text-align: center;

    a:hover,
    a:focus {
      color: var(--dark);
    }
  }

  .header__social {
    // display: inline-block;
    width: 100%;
    font-weight: 500;
    font-family: "GothamPro-Medium", sans-serif;
    padding-top: 3px;


  }




}



hr {
  margin-top: 10px;
  opacity: 0.3;
}