:root {
  // --container-width: 1200px;
  // --container-padding: 15px;

  // --font-main: "GothamPro-italic", sans-serif;
  // --font-accent: "Playfair Display", serif;
  // --font-ralway: "Raleway", sans-serif;

  --wh: #fffffff9;
  --dark: #0c131f;
  --red: #dc2929;
  // --red: rgb(20, 152, 49);++
  --blu: #0abde3;
  // --gr: rgba(193, 193, 193, 0.8);
  --gr: #edefee;
  --grl: rgba(193, 193, 193, 0.4);
  // --blu: rgb(51 85 113 / 86%);
  // --blu: #687477;


  // --laptop-size: 1199px;
  // --tablet-size: 959px;
  // --mobile-size: 599px;
}


// @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap");

// .dark {
//   --page-bg: #252526;
//   --text-color: #fff;
// }

.pad {
  padding: 50px 0;
}

.btn {
  background-color: var(--red);
  border-radius: 5px;
  font-weight: 600;
  // box-shadow: 0px 10px 30px -10px $red;
  position: relative;
  color: var(--wh);
  overflow: hidden;

  &:after {
    z-index: 1;
    content: "";
    background-color: var(--wh);
    position: absolute;
    width: 10px;
    height: 170px;
    top: -40px;
    animation: animatebutton 3s infinite;
    transform: rotate(45deg);
  }

}

%hover {
  transition: all 0.3s;
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus {


    &::before {
      width: 100%;
      right: auto;
      left: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    height: 2px;
    background-color: var(--red);
    bottom: -2px;
    transition: all 0.3s;
    right: 0;
    z-index: 5;
  }

}

@keyframes animatebutton {
  0% {
    left: -80px;
  }

  33% {
    left: 120%;
  }

  100% {
    left: 120%;
  }
}

// .form-mobile {
//   display: none;
// }

.footer__list a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}

.footer__list a:before {
  position: absolute;
  top: 100%;
  left: 50%;
  color: transparent;
  content: '•';
  text-shadow: 0 0 transparent;
  font-size: 13pt;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}

.footer__list a:hover:before,
.footer__list a:focus:before {
  color: #fff;
  text-shadow: 10px 0 #fff, -10px 0 #fff;
}

.footer__list a:hover,
.footer__list a:focus {
  color: #0abde3
}

@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animated-block {
  animation: rotate-animation 4s infinite linear;
  display: inline-block;
}